.leftside, .rightside {

    height: 100vh;
    width: 100%;

}


.leftside{
    margin-top: -56px;
    background-color: rgb(119, 42, 62);
}

.rightside{
    margin-top: -56px;
    background-color: rgb(255, 255, 255);
}
